
<!------------------------- Ng For Loop Example ------------------>
<!-- 
<div *ngIf="isLogin">Welcom  Dashboard {{title}}</div>
<div *ngIf="!isLogin">Please login....</div> -->

<!-- <div *ngIf="isLogin && false">Welcom  Dashboard {{title}}</div> -->


<!-- <div *ngIf="isLogin else unauthorized">Welcom  Dashboard {{title}}</div>
<ng-template #unauthorized>
  <div>Please login....</div>
</ng-template> -->

<!----------------------- Ng For Loop Example ------------------------>
<!-- <ul>
  <li *ngFor="let user of uerList; let i =index">{{i+1}}:{{user.name}}</li>
</ul> -->


<!----------------------- Ng Switch Case Example ------------------------>
<!-- <div [ngSwitch]="grade">
<p *ngSwitchCase="'A'">Excellent learing</p>
<p *ngSwitchCase="'B'">Good learing</p>
<p *ngSwitchCase="'C'">Avarage learing</p>
<p *ngSwitchCase="'D'">Poor learing</p>
<p *ngSwitchDefault>Unknown</p>
</div> -->

<!----------------------- Piping Example ------------------------>
<p>{{todayDate}}</p>
<p>{{todayDate | date}}</p>

<p>{{todayDate | date:'fullDate'}}</p>

<p>{{todayDate | date:'shortDate'}}</p>

<p>{{todayDate | date:'hh:mm:ss'}}</p>

<p>{{currency | currency}}</p>

<p>{{currency | currency:'EUR'}}</p>

<p>{{currency | currency:'EUR':"symbol":'1.2-2' }}</p>

<p>{{num | percent}}</p>


